.blog-post {
  margin-top: 0.5rem;
}

.blog-post__header {
  height: 32rem;
  width: 100vw;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blog-post-img {
  position: absolute;
  height: 32rem;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.blog-post-category {
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Source Serif Pro";
  text-align: center;
  font-size: 2.1rem;
}

.blog-post-title {
  font-size: 3.6rem; 
  text-align: center;
  margin: 2rem auto;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.blog-post-date {
  font-weight: 300;
  text-transform: capitalize;
  font-family: "Source Serif Pro";
  text-align: center;
  font-size: 2.1rem;
}

.blog-post-author {
  color: $color-gray;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-top: 4rem;
}

.blog-post-content {
  font-size: 1.8rem;
  line-height: 140%;
  font-weight: 400;
  margin: 3rem 3rem;
  color: $color-black;
  font-family: "Source Serif Pro";

  p {
    margin-bottom: 2rem;
    
  }
}

@media (min-width: 600px) {
  .blog-post {

  }

  .blog-post__header {
    margin-left: 5rem;
    width: 35%;
    height: 35rem;
  }

  .blog-post-img {
    height: 35rem;
  }

  .blog-post-category {
    
  }

  .blog-post-title {
    text-align: left;
  }

  .blog-post-date {
    margin-right: 0rem;
  }

  .blog-post-author {
    text-align: left;
    margin-top: 6rem;
    margin-left: 20rem;
    font-size: 1.8rem;
  }

  .blog-post-content {
    margin: 5rem 20rem;
    font-size: 2.1rem;
  }
}