// Navbar

.navbar {
  display: flex;
  width: 100vw;
  padding: 2rem;
  padding-top: 3rem;
  height: 6rem;
  align-items: center;
  color: $color-gray;
}

// Title

.navbar-title {
  width: 20rem;
  height: 6rem;
  display: flex;
}

.navbar-title__img {
  width: 3.6rem;
  display: inline-block;
}

.navbar-title__text {
  font-size: 1.5rem;
  width: 15rem;
  font-weight: normal;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  margin-left: 0.8rem;
  transform: translateY(15%);

  span {
    color: $color-blue;
  }
}

// Menu

.navbar-menu__icon {
  color: $color-gray;
  position: absolute;
  top: 1.8rem;
  right: 2rem;
}

.navbar-menu-list {
  display: none;
  list-style: none;

  &__item {
    margin-left: 1rem;
  }
}

.navbar-overlay {
  color: $color-white;
  z-index: 2;
  display: none;
  position: relative;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  background: linear-gradient($color-blue, $color-blue-dark);
  animation: moveInLeft 0.4s cubic-bezier(0.85, 0.04, 0.21, 0.91);

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.active {
  display: block;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mobile-menu-list__item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: $color-white;
  margin-bottom: 1.5rem;
}

@media (min-width: 600px) {
  .navbar {
    height: 8rem;
    padding-top: 2.3rem;
  }
  
  .navbar-title {
    width: 35rem;
    align-items: center;
  }
  
  .navbar-title__text {
    font-size: 1.8rem;
    width: 50rem;
    text-align: left;
    transform: translateY(-4%);
    margin-left: 1.5rem;
  }


  .navbar-menu__icon {
    display: none;
  }
  
  .navbar-menu-list {
    display: flex;
    position: absolute;
    top: 2.9rem;
    right: 3rem;
  }
  
  .navbar-menu-list__item {
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-right: 1rem;
    font-weight: 400;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: $color-blue;
    }
  }

  .overlay {
    display: block;
  }
}